* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-style:serif ; */
}

body {
  height: 100%;
  width: 100%;
  background-color: #898989;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./image/ven2.jpg);
}

header {
  padding: 15px;
  /* background-color: #898989; */
  /* background-image:url(F:\xampp\htdocs\project\image\ven.jpg); */

  /* margin:10px 0px 0px 300px;   */
  /* width:100%; */
}

.text span {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  animation: bounce 1.2s ease-in-out infinite;
  animation-delay: var(--delay);
}
.text span:non(:last-child) {
  margin-right: -2px;
}
@keyframes bounce {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0);
  }
}
.from_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 1000px;
  background: linear-gradient(to left, #71cceb, #0871ebcb);
  border-radius: 20px;
}

.text {
  height: 40px;
  width: 250px;
  /* border: 2px solid red; */
  position: relative;
  top: 20%;
  left: 5%;
}

.cote {
  height: 30%;
  width: 25%;
  position: relative;
  top: 50%;
  left: 2%;
  text-align: center;
}

h1 {
  color: aliceblue;
  /* margin: left 10px; */
}

.word {
  color: white;
}

.from {
  background-color: #f2f2f2;
  height: 450px;
  width: 650px;
  position: relative;
  top: 0%;
  left: 30%;
  border-radius: 100px 5px 5px 100px;
  /* transform: translate(-50%,-50%); */
  margin-top: -170px;
}

.login_form_header {
  position: relative;
  top: 20%;
  left: 38%;
}

.login_positon {
  top: 30%;
  left: 25%;
  /* transform: translate(-70%,-70%); */
  position: relative;
}

.register {
  position: relative;
  top: 60%;
  margin-left: 75%;
}

.userInput {
  display: flex;
  justify-content: center;
  /* padding-left: 15%; */
}

@media only screen and(max-width:600px) {
  header {
    background-color: #3dcfd3;
  }
}

#Login {
  margin: 200px 0px 0px 250px;
  width: 280px;
  padding-left: 28%;
  justify-content: center;
}

::placeholder {
  color: black;
  font-size: 13px;
  opacity: 1;
  /* text:bold; */
}

.input-field {
  text-align: left;
  width: 100%;
  height: 30%;
  padding: 10px 0px;
  margin: 10px 0px 0px 0px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  /* placeholder-color:#000; */
  background: transparent;
  letter-spacing: 1px;
  border-radius: 0px;
  text-align: left;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: center;
  /* border:1px solid #000; */
}

.userInput {
  display: flex;
  justify-content: center;
  /* padding-left: 15%; */
}

input {
  margin: 10px;
  height: 35px;
  width: 65px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  background: #eef2f3;
  border: 1px solid black;
}

button {
  width: 100px;
  height: 40px;
  margin: 25px auto 0px auto;
  background: #0871ebcb;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline;
  /* opacity: .4; */
}

.register_btn {
  width: 100px;
  height: 40px;
  margin: 10px auto 0px auto;
  /* background: ; */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline;
}

form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_box {
  /* margin-top:-300px; */
  width: 650px;
  height: 400px;
  position: absolute;
  margin: -150px 10px 5px 300px;
  background: lightgray;
  padding: 10px;
  border-radius: 100px 10px 10px 100px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
/* button{
  color:#fff;
} */
img {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  margin-left: 110px;
  width: 200px;
}

.userInput {
  padding-left: 40px;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #000;
  transform: translateY(-0.25em);
}
.corner {
  text-align: left;
}
