* {
  padding: 0;
  margin: 0;
  /* font-family: sans-serif;l */
}

:root {
  --primary:black;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}
body {
  height: 100%;
  width: 100%;
  background-color: #898989;
}

header {
  padding: 15px;
  background-color: #898989;
  /* margin:10px 0px 0px 300px;   */
  /* width:100%; */
}

.from_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 1000px;
  background: linear-gradient(to left, #71cceb, #0871ebcb);
  border-radius: 20px;
}

.text {
  height: 40px;
  width: 250px;
  /* border: 2px solid red; */
  position: relative;
  top: 20%;
  left: 5%;
}

.cote {
  height: 30%;
  width: 25%;
  position: relative;
  top: 50%;
  left: 2%;
  text-align: center;
}

h1 {
  color: aliceblue;
  /* margin: left 10px; */
}

.word {
  color: white;
}

.from {
  background-color: #f2f2f2;
  height: 450px;
  width: 650px;
  position: relative;
  top: 0%;
  left: 30%;
  border-radius: 100px 5px 5px 100px;
  /* transform: translate(-50%,-50%); */
  margin-top: -170px;
}

.login_form_header {
  position: relative;
  top: 20%;
  left: 38%;
}

.login_positon {
  top: 30%;
  left: 25%;
  /* transform: translate(-70%,-70%); */
  position: relative;
}



.userInput {
  display: flex;
  justify-content: center;
  /* padding-left: 15%; */
}

@media only screen and(max-width:600px) {
  header {
    background-color: #3dcfd3;
  }
}

.register {
  top: 50%;
  left: 50%;
  /* translate: transform(); */
  transform: translate(-50%, -50%);
  position:absolute;
  overflow: scroll;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}
/* ::-webkit-scrollbar-{
  
} */

.input-field {
  text-align: left;
  width: 100%;
  height: 30%;
  padding: 10px 0px;
  margin: 10px 0px 0px 0px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  /* placeholder-color:#000; */
  background: transparent;
  letter-spacing: 1px;
  border-radius: 0px;
  text-align: left;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: space-around;
  justify-content: center;
}

.userInput {
  display: flex;
  justify-content: center;
  /* padding-left: 15%; */
}

input {
  /* margin: 10px; */
  height: 35px;
  width: 65px;
  border: none;
  border-radius: 5px;
  text-align:left;
  font-size: 1.1rem;
  background: #eef2f3;
}

/* button {
    width: 100px;
    height: 40px;
    margin: 25px auto 0px auto;
    background: blue;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline;
  } */

.register_btn {
  width: 100px;
  height: 40px;
  margin: 10px auto 0px auto;
  /* background: ; */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline;
}

form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_box {
  /* margin-top:-300px; */
  width: 650px;
  height: 400px;
  position: absolute;
  margin: -150px 10px 5px 300px;
  background: lightgray;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 100px 10px 10px 100px;
  text-align: center;
  overflow-x: hidden;
}
/* button{
    color:#fff;
  } */
img {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  margin-left: 120px;
  width: 200px;
}

.userInput {
  padding-left: 40px;
}

.form-box {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
  overflow: hidden;
}


.button-box {
  width: 230px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 20px 9px rgb(81, 81, 82);
}

.toggel-btn {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to left, #71cceb, #0871ebcb);
  border-radius: 30px;
  transition: 0.5s;
}

.input-group {
  top: 347px;
  padding-left: 10px;
  position: absolute;
  width: 310px;
  transition: 0.5s;
  
}

.input2 {
  width: 50%;
}

#donner {
  left: 10px;
}

#camp {
  left: 1000px;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 15px;
  color: var(--pure);
  transition: 0.6s;
}

.second .input input:focus ~ label,
.second .input input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--primary);
  font-size: 13px;
}

.form-box h1 {
  margin-bottom: 30px;
  color: var(--pure);
  text-align: center;
  text-transform: capitalize;
}

.form-box .input {
  position: relative;
}

/* .form-box .input input {
  width: 100%;
  font-size: 13px;
  color: var(--light);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  outline: none;
} */
.form-box .input input{
  text-align: left;
    width: 80%;
    height: 30%;
    padding: 10px 0px;
    margin: 10px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    /* placeholder-color:#000; */
    background: transparent;
    letter-spacing: 1px;
    border-radius: 0px;
    /* text-align: center; */
}

.form-box .input label {
  position: absolute;
  /* top: -40; */
  top: 20px;
  left: 0;
  letter-spacing: 1px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 42px;
  font-size: 15px;
  color: black;
  transition: 0.6s;
}

.form-box .input input:focus ~ label,
.form-box .input input:valid ~ label {
  top: -5px;
  left: 0;
  color: var(--primary);
  font-size: 13px;
}

#text {
  padding-top: 50px;
  color: var(--dark);
}

select {
  background: lightgray;
  width: 83%;
  height: 30px;
  border-radius: 30px;
  border: solid 1px black;
  margin-bottom: 20px;
}

option {
  color: var(--dark);
}
.camp_from {
  /* visibility: hidden; */
  display: none;
}

.submit-btn {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  /* display: block; */
  margin: auto;
  margin-top: -30px;
  background: linear-gradient(to left, #71cceb, #0871ebcb);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.hidden{
  display: none;
}

/* .scroll-div{
  overflow-y: scroll;
} */

/* .donner{
  left:50%;
  right:50%;
  transform: translate(-50%-50%);
  position: absolute;
} */